.Card-Container-List {
    width: 50vw;
    height: 300px;
    display: flex;
    border-radius: 20px;
    overflow: auto
  }
  
  .Row-List {
    display: flex;
    justify-content: center;
    margin-top: 50px  
  }
  
  .Btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
  }

  .Card-List {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa
  }